/*******************************/
/* Import CSS stylesheet       */
/*******************************/
@import url("/css/variables.css");

/*******************************/
/* Reset Default style in HTML */
/*******************************/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--regular-font);
}
img {
  max-width: 100%;
  height: auto;
}

h2,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--bold-font);
}

/*******************************/
/* Header Area                 */
/*******************************/
